<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>人人贷</string>
			<key>isSelected</key>
			<true/>
			<key>xPoint</key>
			<integer>0</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>招财宝</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>1</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>红岭创投</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>2</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>宜人贷</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>3</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>陆金所</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>0</integer>
			<key>yPoint</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>爱投资</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>1</integer>
			<key>yPoint</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>新新贷</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>2</integer>
			<key>yPoint</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>易贷网</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>3</integer>
			<key>yPoint</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>拍拍贷</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>0</integer>
			<key>yPoint</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>有利网</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>1</integer>
			<key>yPoint</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>&lt;12%</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>0</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>12%-15%</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>1</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>15%</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>2</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>30天内</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>0</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>1-3个月</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>1</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>3-6个月</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>2</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>6-12个月</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>0</integer>
			<key>yPoint</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>1-2年</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>1</integer>
			<key>yPoint</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>2年以上</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>2</integer>
			<key>yPoint</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>50%以内</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>0</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>50%-80%</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>1</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>80%以上</string>
			<key>isSelected</key>
			<false/>
			<key>xPoint</key>
			<integer>2</integer>
			<key>yPoint</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
